<div class="container">
       <br><br><br><br><br><br><h1>Cardinal Reports</h1><br>
       <div class="row">
         <div class="main">
           <form role="form" ng-submit="onSubmit()">
             <div class="form-group">
               <label for="inputEmail">Email</label>
               <input type="text" class="form-control" id="inputEmail" ng-model="vm.credentials.email">
             </div>
             <div class="form-group">
               <label for="inputPassword" >Password</label><a class="pull-right" href="#">Forgot password?</a>
               <input type="password" class="form-control" id="inputPassword" ng-model="vm.credentials.password">
             </div>
             <div class="checkbox pull-left">
               <label class="remember"><input type="checkbox">Remember me </label>
             </div>
             <button type="submit" class="btn btn btn-primary pull-right black-background">Log In</button><br><br>
           </form>
         </div><br>
         <div class="main text-center">
               <a class="password" href="#">New User? Create Account</a>
         </div>
       </div>
     </div>