<!DOCTYPE html>

<html>

  <head>
    <!-- CSS -->
  	<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
  	<link rel="stylesheet" href="css/style.css"> <!-- custom styles -->
  </head>

  <body>
     <div class="container">
       <br><br><br><br><br><br><h1>Cardinal Reports</h1><br>
       <div class="row">
         <div class="main">
           <form role="form">
             <div class="form-group">
               <label for="inputEmail">Email</label>
               <input type="text" class="form-control" id="inputEmail">
             </div>
             <div class="form-group">
               <label for="inputPassword">Password</label><a class="pull-right" href="#">Forgot password?</a>
               <input type="password" class="form-control" id="inputPassword">
             </div>
             <div class="checkbox pull-left">
               <label class="remember"><input type="checkbox">Remember me </label>
             </div>
             <button type="submit" class="btn btn btn-primary pull-right black-background">Log In</button><br><br>
           </form>
         </div><br>
         <div class="main text-center">
               <a class="password" href="#">New User? Create Account</a>
         </div>
       </div>
     </div>
  </body>

</html>
