nav {
    background-color: white;
    height: 50px;
}

.label-forgotpw {
    text-align: right;
}

.img-fluid {
    padding-top: 9px;
    padding-left: 20px;
    width: 70px;
}

.img-icon {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 15px;
    width: 35px;
}

.img-line {
    padding-top:5px;
    padding-right: 5px;
    height: 35px;
    
}

.nav-link {
    font-size: 9px;
    padding-left: 3px;
}

.nav-title {
    padding-left: 10px;
    position: absolute;
    /* change the vertical position */
    top: 3.3%;
    transform: translateY(-50%);
    color: #6D6D6D;
}


.form-control {
    font-size: 70%;
}
 
.input-group {
    padding-right: 10px;
    /* change the vertical position */
    transform: translateY(20%);
    width: 15%;
    float: right;
}

.fa-file-text-o {
  padding-left: 10px;
}

.fa-users {
  padding-right: px;
}

.input-group {
    padding-top:2px;   
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.h1-login {
  text-align: center;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.label-login {
    font-size: 13pt;
    color: #3F3F3F;
}

.btn-success {
  font-size
  height: 100px;
}

.reports {
  padding-top: 25px;
  padding-bottom: 10px;
}
.nav-link {
    font-size: 9px;
    padding-left: 3px;
}

.password {
    margin: auto;
}

.form-control {
    font-size: 70%;
}

.btn {
    font-size: 70%;
}

.table {
  background-color: #FFFFFF;
  margin: auto;
  box-sizing: border-box;
  padding: 30px;
  max-width: 70%;
  min-width: 36%;
  }

.input-group {
  width: 25%;
  float: right;
}

.fa-file-text-o {
  padding-left: 10px;
}

.fa-users {
  padding-right: 10px;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

.remember {
  font-size: 10pt;
  color: #A5A5A5;
}

.container {
    margin: auto;
}

.text-center {
   text-align: center;
}

.main {
  background-color: #FFFFFF;
  margin: auto;
  border: 1px solid #95989A;
  box-sizing: border-box;
  padding: 30px;
  max-width: 36%;
  min-width: 36%;
  }

.mainDash {
  background-color: #FFFFFF;
  margin: auto;
    margin-left: 100px;
  border: 1px solid #95989A;
  box-sizing: border-box;
  padding: 20px;
  max-width: 36%;
  min-width: 36%;
    float: left;
  }

.mainDash2 {
  background-color: #FFFFFF;
  margin: auto;
    margin-right: 100px;
  border: 1px solid #95989A;
  box-sizing: border-box;
  padding: 20px;
  max-width: 36%;
  min-width: 36%;
    float: right;
  }

.dashProd {
    font-size: 10pt;
  }


.text-center {
  background-color: #FFFFFF;
  margin: auto;
  border: 1px solid #95989A;
  box-sizing: border-box;
  padding: 30px;
  max-width: 36%;
  min-width: 36%;
    height:40px;
    
  }

.login-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

.hr-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.black-background {
  background-color: #3F3F3F;
  border-color: #3F3F3F;
}
