<navigation></navigation>

	<head>
		<meta charset="utf-8">
		<title>User Profile</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta http-equiv="x-ua-compatible" content="ie=edge">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

		<!-- Stylesheets -->
		<link href="assets/css/hover-min.css" rel="stylesheet" media="all">
		<link rel="stylesheet" href="assets/css/blueimp-gallery.min.css">
		<script src="https://use.fontawesome.com/a686b3c76b.js"></script>
		<link href="css/Brandon_Grotesque" rel="stylesheet" type="text/css" media="all">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700" rel="stylesheet">
		<link href="css/Brandon_Grotesque" rel="stylesheet" type="text/css" media="all">
        <link rel="stylesheet" href="/public/stylesheets/styles.css">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.css">

		<!--[if lt IE 9]>
    		<script src="assets/components/html5shiv/html5shiv.min.js"></script>
		<![endif]-->
	</head>

<div class="container">
       <br><br><br><br><br><br><h1>Cardinal Reports</h1><br>
       <div class="row">
         <div class="main">
           <form role="form" ng-submit="vm.onSubmit()">
             <div class="form-group">
               <label for="inputEmail">Email</label>
               <input type="text" class="form-control" id="inputEmail" ng-model="vm.credentials.email">
             </div>
             <div class="form-group">
               <label for="inputPassword" >Password</label><a class="pull-right" href="#">Forgot password?</a>
               <input type="password" class="form-control" id="inputPassword" ng-model="vm.credentials.password">
             </div>
             <div class="checkbox pull-left">
               <label class="remember"><input type="checkbox">Remember me </label>
             </div>
             <button type="submit" class="btn btn btn-primary pull-right black-background">Log In</button><br><br>
           </form>
         </div><br>
         <div class="main text-center">
               <a class="password" href="/register">New User? Create Account</a>
         </div>
       </div>
     </div>
