body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #6D6D6D;
  background-color: #F2F2F2;
}

a {
  color: #6D6D6D;
}

h1 {
  text-align: center;
  padding: 25px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F2F2F2;
}

h2 {
  text-align: left;
  padding-top: 40px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F2F2F2;
}

nav {
  background-color: white;
}

.btn-success {
  font-size
  height: 100px;
}

.reports {
  padding-top: 25px;
  padding-bottom: 10px;
}
.nav-link {
    font-size: 9px;
    padding-left: 3px;
}


.nav-title {
  padding-left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.form-control {
    font-size: 70%;
}

.btn {
    font-size: 70%;
}

.table {
  background-color: #FFFFFF;
  margin: auto;
  box-sizing: border-box;
  padding: 30px;
  max-width: 70%;
  min-width: 36%;
  }

.input-group {
  width: 25%;
  float: right;
}

.fa-file-text-o {
  padding-left: 10px;
}

.fa-users {
  padding-right: 10px;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}
