<navigation></navigation>

<main>
    <div class="container">
        <h1 class="reports"> Settings </h1>
        <div class="row align-items-center">
            <div class="col-md-8 offset-md-2">
                <div class="card block">
                    <div class="container">
                        <form>
                            <div class="form-group row pt-1">
                                <label for="inputFirstName3" class="col-sm-2 col-form-label">First Name:</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" ng-model="vm.currentUser.firstName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Last Name:</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" ng-model="vm.currentUser.lastName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Email:</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" ng-model="vm.currentUser.email">
                                </div>
                            </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password:</label>
                                    <div class="col-md-6">
                                        <a href="#">Change Password</a>
                                    </div>
                                </div>
                            <div class="form-group row">
                              <label for="inputPassword3" class="col-sm-2 col-form-label">Status:</label>
                              <div class="col-md-6">
                                        <span class="label label-default" ng-if="vm.currentUser.admin == '2'">Admin</span>
                                        <span class="btn btn-danger" ng-if="vm.currentUser.admin == '0'" ng-click="">Pending</span>
                                        <span class="btn btn-success" ng-if="vm.currentUser.admin == '1'" ng-click="">Active</span></div>
                              </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" ng-click="vm.settingsChange()">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">New User Request</h4>
                </div>
                <div class="modal-body">
                    So in so wants to register
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Deny</button>
                    <button type="button" class="btn btn-primary">Approve</button>
                </div>
            </div>
        </div>
    </div>
</main>
